
/* body {background-color: white;
	margin-left: 20;
} */
img{
	height:auto; margin: 3px; 
}

#cross{width:20px;height:20px;
position: absolute;
display:inline;
float:left;
visibility:hidden;
} 

.click_off{border:2px solid red;}

.click_on{border:2px solid black;}

p{font-family:verdana;	font-style:italic; font-weight: bold; font-size:16px; display: inline; }
/* .show{display:block;} */

/* .hide{display:none;} */

/* #showImage{
	
	width:240px;height:150px;
	border: black 1px solid;
} */

/* #showIMG{width: 244px;
	height:150px;
	margin: 0px auto;
	border:1px solid;
 } */